.split-screen {
   position: absolute;
   inset: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;

   .split-half {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      position: relative;

      &.center {
         justify-content: center;
         align-items: center;
      }

      &:nth-child(1) {
         flex: 3;
      }

      &:nth-child(2) {
         flex: 2;
         border-left: 1px solid var(--bs-gray-200);
      }
   }
}

@media only screen and (min-width: 570px) {
   .split-screen {
      flex-direction: row;
   }
}
@media only screen and (min-width: 780px) {
   .split-half {
      flex: 1;
   }
}