:root {
    --app-bg: #ffffff;
    --app-color: #374151;
    --main-content-my: 1.5rem;
    --space-py: 1rem;
    --space-px: 1rem;
    --fb-gap: 0.5rem;
    --fb-icon-fs: 1rem;
    --fb-icon-p: 0.2rem;
}

@import "base";
@import "layer";
@import "bar";
@import "frame";

// @import "list";
// @import "animate";
// @import "page";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "framed";
@import "input";



