/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import "assets/bootstrap";

:root {
	--app-bg: #ffffff;
	--app-color: #374151;
	--main-content-my: 1.5rem;
	--space-py: 1rem;
	--space-px: 1rem;
	--fb-gap: 0.5rem;
	--fb-icon-fs: 1rem;
	--fb-icon-p: 0.2rem;
	--gb-min-w: 320px;
	--gb-py: 0rem;
	--gb-px: 1rem;
}

@import "assets/base";
@import "assets/bar";
@import "assets/framed";