/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import "bootstrap";

:root {
	--app-bg: #ffffff;
	--app-color: #374151;
	--main-content-my: 1.5rem;
	--space-py: 1rem;
	--space-px: 1rem;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
/* 	color: var(--app-color);
	background-color: var(--app-bg); */
	overscroll-behavior: none;
}

body {
	position: relative;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

@import "page";
// @import "animate";